<footer>
  <p mt-8 text-xs op-30>
    <a>到那时，没人能帮你，除了🤖。</a><br><br>
    <a>请知晓：AIGC具有不可预测性，AI的所有回答依据为人类信息中占比最大的观点，当前模型数据止于2021年底因此会出现错误内容请人类自行甄别。平台免费提供给个人体验，平台不保存任何数据，平台不认同AI生成的所有违规/错误观点，平台有权对异常ip拒绝访问。</a>
    <br><a>© CDY</a>
  </p>
</footer>

<footer op-60>
  <p mt-6 text-sm text-slate>
    <a></a><br>


  </p>
</footer>
