---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">对 话</span>
    <span class="gpt-subtitle">Plus</span>
  </div>
  <p mt-1 op-60>Based on ChatGPT (GPT-4 is Coming).</p>
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
  <script>LA.init({id:"K0BLTBOHb2ltEYK8",ck:"K0BLTBOHb2ltEYK8"})</script> 
</header>
